body {
}

.navbar-header{
	padding :0px;
}

.menu-text{
	padding-top: 75px;
}

.navbar-brand {
	font-family: 'Slabo 27px', serif;
	font-weight: bold;
	text-shadow: 2px;
	font-size: 200%;
	color: #987890;
	text-transform: uppercase;
}

.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}

.grid-class{
	background-color: green;
  	position: relative;
  	background-color: grey;
  	border : 1px solid black;
  	margin: 10px;
  	font-size: 125%;
}

#menu-options a:hover, #menu-options a:focus{
	text-decoration: none;
	color:black;
	border : 1px solid black;
}

#menu-options{
	padding: 0px;
	margin: 0px;
	/*border : 1px solid black;*/
}