body {
	padding: 60px;
}

.navbar-header{
	padding :0px;
}


.navbar-brand {
	font-family: 'Slabo 27px', serif;

	font-weight: bold;
	text-shadow: 2px;
	font-size: 200%;
	text-transform: uppercase;

}

#brand-name{
	color:red;
}
.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}

.menu-headers{
	padding-top: 10px;
}

.grid-class{
	padding:10px;
  	background-color: grey;
  	border : 1px solid black;
  	margin: 10px;
  	font-size: 125%;
}
#menu-options{
	color:black;
}
#menu-options a:hover, #menu-options a:focus{
	text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a {
  font-size: 1.2em;
}
/*
#menu-options{
	padding: 10px;
	margin: 10px;
	color:black;
	border-bottom : 1px solid black;
	border-left: 1px;
	border-right: 1px;
}

.menu-items{
	padding: 0px;
	margin: 0px;
	color:black;
	border-top : 1px solid black;
}*/